<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "JELP", root_path %></h1>
      <%= link_to "CREATE A RESTAURANT", new_restaurant_path, class: 'new-restaurant' %>
      <%= link_to 'Back', root_path %>
    </header>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
